<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Configuring the Dependent Bean -->
	<bean id='bDart' class='in.abc.bean.BlueDart'/>
	<bean id='courier' class='in.abc.bean.DTDC'/>
	<bean id='fFlight' class='in.abc.bean.FirstFlight'/>
	
	<!-- Configuring the Target Bean -->
	<bean id='fpkt' class='in.abc.bean.Flipkart' autowire="byName" />

    
</beans>